body {
    margin: 0px;
    background-color: #000000;
    position: relative; /* Added */
}

#ton-connect {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensures it's above other content */
}
